* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    margin: 0 175px;
}

h1,h2,h3,h4,h5,h6,span{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.main {
    background-color: white;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 20px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

.logo a {
    color: #000;
    text-decoration: none;
}

.navigation {
    margin: 20px;
}

.navigation a {
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #7b7b7b;
    font-family: work sans, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
}

.navigation a:hover {
    color: black;
}


.navigation a:last-child {
    background-color: #72bd40;
    color: white;
}

.navigation a.arrow:hover .ul-menu {
    display: block;
}

.navigation a.arrow:after {
    content: '\02C5';
    padding: 4px;
}

.ul-menu {
    display: none;
    position: absolute;
    width: 200px;
    height: 180px;
    margin-left: 100px;
    background-color: #000;
    color: white;
    font-size: 15px;
    border-radius: 5%;
}

.ul-menu li {
    text-transform: none;
    list-style: none;
    padding: 15px 0 0 15px;
}

.ul-menu li:hover {
    color: #437323;
}

.least-menu {
    display: none;
    position: absolute;
    background-color: #000;
    width: 200px;
    border-radius: 5%;
    margin-left: 180px;
    bottom: -80px;
    color: white;
    height: 120px;
}

.menu-items:hover .least-menu {
    display: block;
}

.little-arrow:after {
    content: '\003E';
    padding-left: 90px;
}

.picture {
    background-image: url(/images/hero_2.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.picture h1 {
    user-select: none;
    color: white;
    font-size: 4rem;
    text-align: center;
}

.owl-nav {
    position: absolute;
}

.owl-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #8f8d8c;
    position: relative;
    right: 530px;
    color: white;
}



.owl-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #8f8d8c;
    position: relative;
    left: 530px;
    bottom: 50px;
}

.owl:hover {
    background-color: #f4f4f4;
    transition: 0.5s;
}


.frame {
    transform: skewY(-5deg);
    height: 130px;
    margin-top: -60px;
    background-color: white;
    margin-bottom: 10px;
}

.services-container {
    text-align: center;
}

.legend {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-family: 'Oswald', arial, sans-serif;
    margin-bottom: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, .5);
}

.big-legend {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
}

.line-center {
    border-bottom: 3px solid #72bd40;
    width: 50px;
    margin: 0 auto 5px;
}

.props {
    height: 200px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 30px;
    padding: 50px 0 100px;
}

.props i {
    color: #72bd40;
    font-size: 40px;
    margin-bottom: 16px;
}

.props h4 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 15px;
}

.props p {
    font-family: "Work Sans", "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgba(0, 0, 0, 0.5);
}

.bord {
    padding: 0 15px;
    border-left: 2px solid #eaedef;
}

.bord.bag {
    border-left: none;
}

.description {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 110px;
}

.cont {
    width: 50%;
    text-align: start;

}

.cont img {
    width: 100%;
    height: 100%;
}

.cont span {
    text-transform: uppercase;
    letter-spacing: .2em;
    color: rgba(0, 0, 0, .5);
    font-weight: bold;
}

.cont p {
    font-family: "Work Sans", "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgba(0, 0, 0, 0.5);
    line-height: 30px;
}

.cont h3 {
    font-size: 25px;
}

.cont.clean-design {
    width: 40%;
    margin-left: 60px;
    line-height: 25px;
    padding-top: 48px;
}

.line-left {
    border-bottom: 3px solid #72bd40;
    width: 45px;
    margin-bottom: 15px;
    padding-top: 25px;
}

.cont.free-html5 {
    margin-right: 73px;
    width: 40%;
    line-height: 25px;
    padding: 48px 0px;
    margin-left: 40px;
}

.inscription {
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
}

.inscription span {
    letter-spacing: .2em;
    color: rgba(0, 0, 0, .5);
    font-weight: bold;
}

.inscription h2 {
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 15px;
}

.first-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 55px 25px 50px 0px;
    padding-left: 25px;
}

.image-1 img {
    width: 340px;
    height: 290px;
}

.image-2 img {
    width: 340px;
    height: 290px;
}

.image-3 img {
    width: 340px;
    height: 290px;
}

.image-descr {
    line-height: 25px;
    padding-left: 20px;
}

.image-descr h2 {
    font-size: 1.2rem;
    font-weight: lighter;
}

.image-descr p {
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgba(0, 0, 0, .5);
    padding-bottom: 20px;
}

.button {
    background-color: #71bc42;
    padding: 10px 24px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dots {
    font-size: 50px;
    color: #a39b9b;
    user-select: none;
    text-align: center;
}

.arrow1 {
    position: absolute;
    background-color: white;
}

.owl-nav {
    position: absolute;
}

.arrow-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    position: relative;
    right: 540px;
    top: 280px
}

.arrow-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    position: relative;
    left: 530px;
    top: 230px
}

.arrows:hover {
    background-color: #72bd40;
    transition: 0.5s;
}

.img-with-nums {
    padding: 150px 0px;
    display: flex;
}

.big-img {
    margin-left: 40px;
    max-width: 100%;
}

.descr-with-nums {
    margin-left: 90px;
}

.big-img img {
    width: 540px;
    height: 450px;
}

.image-with-txt {
    height: 500px;
}

.image-with-txt:hover,
.images-with-txt:hover {
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
}

.descr-with-nums h2 {
    font-size: 30px;
    font-weight: lighter;
}

.descr-with-nums p {
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgba(0, 0, 0, .5);
}

.num-content {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}

.num-content p {
    letter-spacing: 5px;
}

.num-content span {
    color: #72bd40;
    font-size: 60px;
}


.testimonials h2 {
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    padding-bottom: 10px;
}

.text-with-person {
    padding-top: 50px;
    text-align: center;
    margin: 0 60px;
}

.picture-of-person {
    padding-bottom: 10px;
}


.picture-of-person img {
    border-radius: 100%;
    width: 5%;
}

.descr-of-person h4 {
    font-weight: lighter;
    font-size: 20px;
    padding-bottom: 30px;
}

.descr-of-person p {
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 25px;
    color: rgba(0, 0, 0, .5);
    font-style: italic;
}

.pers-nav {
    position: absolute;
}

.arrow-next-pers {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 50px;
    left: 20px;
}

.arrow-prev-pers {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    width: 40px;
    height: 40px;
    bottom: 50px;
    left: 1050px;
}

.recent-blog-posts {
    padding-top: 220px;
    padding-bottom: 20px;
    text-align: center;
}

.recent-blog-posts h2 {
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
}

.second-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 55px 25px 50px 0px;
    padding-left: 25px;
}

.image-descrip {
    padding: 20px 0px 0px 20px;
    line-height: 25px;
}

.image-descrip h2 {
    font-size: 1.2rem;
    font-weight: lighter;
    color: #71bc42;
}

.image-descrip p {
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgba(0, 0, 0, .5);
    padding-bottom: 20px;
}

.button-read {
    text-decoration: none;
    color: #71bc42;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.images-with-txt {
    height: 550px;
}

.green-div {
    margin-top: 80px;
    height: 210px;
    background-color: #71bc42;
    text-align: center;
    color: white;
}

.text-in-green-div {
    padding-top: 30px;
}

.text-in-green-div h2 {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.text-in-green-div button {
    font-family: "Oswald", arial, sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: #71bc42;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 30px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}

.text-in-green-div button:hover {
    background-color: white;
    color: #71bc42;
}

.main-footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 60px;
}

.about{
    width: 30%;
    padding-left: 50px;
}

.main-footer h4{
    color:#fdf7ed;
    padding-bottom: 20px;
    font-weight: lighter;
}

.main-footer li,p{
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #707479;
    font-size: 15px;
    list-style-type: none;
}

.button-read-more{
    margin-top: 15px;
    background-color:#71bc42;
    padding: 10px 30px;
    color:white;
    outline: none;
    cursor: pointer;
}

.button-read-more:hover{
    background-color:#60a135;
}

.double-menu{
    width: 40%;
    display:flex;
    flex-wrap: wrap;
}

.quick-menu{
    padding-right: 55px;
}

.free-templates{
    padding-left: 85px;
}

.quick-menu li,.free-templates li{
    padding: 10px;
}

.quick-menu li:hover,.free-templates li:hover{
    color:white;
    transition: 0.3s;
    cursor: pointer;
}

.stay-up {
    margin-top: 15px;
}

.stay-up input{
    background-color:#31373e;
    border: 1px solid white;
    padding: 10px;
    font-style: italic;
    font-size: 15px;
}

.stay-up input:active,.stay-up input:focus {
   border-color: #60a135;
   outline: none;

}

.stay-up .button-read-more{
    margin-left: -5px;
    height: 43px;
}

.social-icons{
    width: 15%;
}

.social
{
    display: flex;
    justify-content: space-around;
}

.social img{
    width: 30px;
    padding:5px
}

.social img:hover{
    opacity: 0.5;
}


.last-txt{
    padding-top: 40px;
    text-align: center;
}

.last-txt i {
    color:red;
}

.last-txt a {
    text-decoration: none;
    color:#4c5962;
}

.last-txt a:hover {
    color:white;
    transition: 0.3s;
}

footer {
    background-color: #31373e;
    height: 500px;
}

